<div class="comments">
    {{#each this}}
    <div>
        <p class="card-body">
            {{commentText}} - {{user.username}} {{format_date datePosted}}
        </p>
    </div>
    {{/each}}
</div>