<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techno Blog-o</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body class="flex-column min-100-vh">
    <nav class="navbar">
        <ul>
            <li class="li-inline nav-item"><a href="/">Home</a></li>
            <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
            {{#unless loggedIn}}
            <li class="li-inline nav-item"><a href="/login">Login</a></li>
            {{/unless}}
            <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
        </ul>
    </nav>
    <header class="hero">
        <h1 class="app-title"><a href="/">Techno Blog-o</a></h1>
    </header>

    <main class="col-auto">
        {{{body}}}
    </main>

    <footer class="flex-row justify-center">
        &copy; Techno Blog-o
    </footer>
</body>
</html>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}